@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@config "../../tailwind.config.ts";

:root {
  --background: white;
  --foreground: #0a0a0a;
  --text: theme("colors.gray.900");
  --textHover: theme("colors.gray.700");
  --text-secondary: theme("colors.gray.600");
  --text-secondaryHover: theme("colors.gray.400");
  --wsu: #a31631;
  --wsu-light: #853846;
}

html[data-theme="dark"] {
  --background: theme("colors.gray.900");
  --foreground: #ededed;
  --text: theme("colors.gray.50");
  --textHover: theme("colors.gray.300");
  --text-secondary: theme("colors.gray.400");
  --text-secondaryHover: theme("colors.gray.500");
}

html {
  background: var(--background);
}

@theme inline {
  --color-primary: var(--text);
  --color-primaryHover: var(--textHover);
  --color-secondary: var(--text-secondary);
  --color-secondaryHover: var(--text-secondaryHover);
  --color-wsu: var(--wsu);
  --color-wsu-light: var(--wsu-light);
}
.prose ol {
  list-style-type: decimal !important;
  margin-left: 1.5em !important;
}
.prose ul {
  list-style-type: disc !important;
  margin-left: 1.5em !important;
}

@media (min-width: 768px) {
  /* Fixed sidebar layout */
  .fixed-sidebar {
    position: fixed;
    width: 16rem; /* 64px, matches w-64 */
    height: 100vh;
    overflow-y: auto;
  }

  /* Main content layout with sidebar space */
  .sidebar-content {
    margin-left: 16rem;
    width: calc(100% - 16rem);
  }
}